endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_licenseKey LICENSE_KEY_HERE

sv_maxclients 48
sv_master1 ""
sv_hostname "Hostname"

sets sv_projectName "Project Name"
sets sv_projectDesc "Project Description"

load_server_icon logo.png

ensure sessionmanager
ensure spawnmanager
ensure multiplayer-chat
